//! **************************************************************************
// Written by: Map P.20131013 on Sun Apr 03 20:40:20 2016
//! **************************************************************************

SCHEMATIC START;
COMP "CLK_50" LOCATE = SITE "B6" LEVEL 1;
COMP "CLK_50M" LOCATE = SITE "B8" LEVEL 1;
COMP "CLK_05" LOCATE = SITE "J3" LEVEL 1;
COMP "CLK_5" LOCATE = SITE "C6" LEVEL 1;
NET "CLK_50M_BUFGP/IBUFG" BEL "CLK_50M_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
COMP "CLK_500" LOCATE = SITE "C5" LEVEL 1;
COMP "CLK_5M" LOCATE = SITE "B7" LEVEL 1;
COMP "CLK_1" LOCATE = SITE "B5" LEVEL 1;
SCHEMATIC END;

